<li
  class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
>
  <h6 class="mb-0">Invoice #
    {{id}}
    <br />
    issuded on :
    {{format_date due_date}}</h6>
  <button class="btn btn-primary">generate pdf</button>
</li>