<div class="login-section">
  <section class="hero-image">
    <div class="mx-8 mb-12 text-center">
      <div class="flex align-center justify-center">
        <img
          src="/images/logo.webp"
          alt="meat image"
          height="200px"
          width="200px"
        />
      </div>
      <div class="text-yellow-100 text-2xl mt-2 sm:w-96">
        <p>Your Friendly Butcher</p>
        <p>SLICING THE FAT FROM YOUR MEAT BILL</p>
      </div>
    </div>
  </section>
  <section class="form-signin">
    <form>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email-login"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
        <label for="password-login">Password</label>
      </div>

      <button
        class="w-100 btn btn-lg btn-primary mt-2 mb-2"
        type="submit"
        onclick="loginFormHandler(event)"
      >
        Sign in
      </button>
      <a href="/signup">Create an account</a>
    </form>
  </section>
</div>