<div class="flex-column justify-space-around">
  <header class="page-header">
    <h1>
      <a href="/"><img
          src="/images/logo.webp"
          alt=""
          height="100px"
          width="100px"
        /></a>
    </h1>
    <nav>
      <!-- Conditionally render login or logout links -->
      <!-- {{#if logged_in}} -->
          <a href="/">HOME</a>

          <a href="/userprofile">PROFILE</a>
          <a href="/logout" id="logout">LOGOUT</a>

          <!-- {{else}} -->
          <a href="/">HOME</a>

          <a href="/login">LOGIN</a>
          <!-- {{/if}} -->
    </nav>
  </header>

  <main class="order">

	<form class="orderForm">
		{{!-- Render list of items --}}
		<div class="container">
			{{!-- Render header --}}
			<div class="row">
				<div class="col-3 text-center itemName">Item Name</div>
				<div class="col text-center itemQuantity">Quantity</div>
				<div class="col text-center itemPrice">Unit Price</div>
				<div class="col text-center itemDiscount">Discount</div>
				<div class="col text-center itemTaxRate">Tax Rate</div>
				<div class="col text-center itemTotal">Item Total</div>
			</div>
			<hr>
    		<!-- Render the items-->
    		{{#each price as |item|}}
				{{> items}}
			{{/each}}
		</div>

		{{!-- Render button to order --}}
		<div class="text-end px-5">
			<a href="/userprofile" class="btn btn-primary btnCancel">Cancel</a>
			<button type="submit" class="btn btn-primary" id="submitBtn">Submit Order</button>
		</div>
		
	</form>
  </main>
</div>

<script src="/js/order.js"></script>