:root {
  --background: #f7f6f2;
  --button: #980506;
  --buttonSecondary:#6c757d;
}

* {
  box-sizing: border-box;
}
body {
  max-width: 1024px;
  margin: auto 200px;
  min-height: 100vh;
  background-color: var(--background);
  font-family: "Cinzel Decorative", cursive;
}
.btn {
  background-color: var(--button);
}

.btnCancel{
	background-color: var(--buttonSecondary);
}
/* login page styling */

.login-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10em;
  align-items: center;
  padding: 10px;
}

.hero-image {
  font-weight: bolder;
  font-size: 1em;
}

/* signup page */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.sign-up {
  width: 100%;
  margin-top: 3em;
}

.signup-section {
  width: 80%;
  margin: 0 auto;
}
input {
  width: 100%;
  margin-bottom: 1em;
  padding: 10px;
}
textarea {
  width: 100%;
}

/* user dashboard */

.user-profile {
  display: flex;
}
